[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-auth = "*"
requests = "*"
google-api-python-client = "*"
pandas = "*"
jinja2 = "*"
urllib3 = "<2"

[dev-packages]
black = "*"
isort = "*"
flask = "*"
boto3 = "*"

[requires]
python_version = "3.9"
